# ─── WAHA (API DO ZAP) ──────────────────────────────────────────────────────────
# Escolha qualquer string como chave, Ex: minha-chave-123
# Use o mesmo valor em WAHA_API_KEY e WAHA_API_KEY_PLAIN
WAHA_API_KEY=
WAHA_API_KEY_PLAIN=

# Usuário e senha para acessar o dashboard do WAHA (localhost:3000/dashboard) acredito que vc pode colocar qualquer senha que desejar
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=

# Usuário e senha para acessar o Swagger do WAHA (localhost:3000/swagger) | Essa parte creio eu que não seja importante.
WHATSAPP_SWAGGER_USERNAME=admin
WHATSAPP_SWAGGER_PASSWORD=

# Formato do waha, só modifique se vc for louco e paga essa API
WHATSAPP_DEFAULT_ENGINE=WEBJS

# Não altere esse valor
WAHA_URL=http://localhost:3000

# ─── GMAIL ────────────────────────────────────────────────────────────────────
# Para envio por email, é necessário criar uma senha de aplicativo e ter autenticação de 2 fatores habilitadas.
GMAIL_EMAIL=
GMAIL_PASSWORD=

# ─── IMGBB ────────────────────────────────────────────────────────────────────
# Se for enviar por zap, precisa disso ai pra funcionar. Basicamente é só criar uma conta e acessar
# https://api.imgbb.com/
IMGBB_API_KEY=

# ─── DISCORD ──────────────────────────────────────────────────────────────────
# O webhook é fornecido pelo próprio usuário no formulário do site.
# Você só precisa preencher aqui se quiser um webhook padrão fixo.
DISCORD_WEBHOOK=
